#formulario{
	box-shadow: 0px 0px 5px rgba(0,0,0,.9);
	border-radius: 5px;
	width: 50%;
	margin: 0 auto;
	padding: .5em;
	margin-top: 2em;
}

#formulario .form_grupo{
	padding: .5em;
}

#formulario .form_grupo .form_titulo{
	font-family: algerian;
	border-bottom: 2px solid #000;
	font-size: 1.1em;
	color: #000;
}

#formulario .form_grupo .formulario_exito{
	color: #2A6911;
	background: #9CCC95;
}

#formulario .form_grupo .formulario_error{
	color: #F84A4A;
	background: #F1C8C8;
}

#formulario .form_grupo .form-control{
	width: 80%;
	height: 2.3em;
}

#formulario .form_grupo .form-boton{
	width: 50%;
	height: 2em;
	background: green;
	color: #fff;
	font-family: algerian;
	font-size: 1.1em;
}

#formulario .form_grupo .form-boton:hover{
	box-shadow: 0px 2px 5px rgba(0,0,0,.9);
	transition: all ease-in .5s;
}
/* hasta movil */
@media all and (max-width:800px){
	#formulario{
		width: 75%;
		transition: all ease-in .5s;
	}
}
/* hasta movil */
@media all and (max-width:600px){
	#formulario{
		width: 85%;
		transition: all ease-in .5s;
	}
}
/* hasta movil */
@media all and (max-width:400px){
	#formulario{
		width: 95%;
		transition: all ease-in .5s;
	}
}